.container
    .row
        .col-xs-12.col-sm-6.col-md-6
            .form-horizontal
                .form-group
                    label(for="cod", class="col-lg-2 control-label") cod
                    .col-lg-10
                        input(type="text", class="form-control", id="cod", ng-model="cod", placeholder="cod")
                .form-group
                    label(for="mrc", class="col-lg-2 control-label") mrc
                    .col-lg-10
                        input(type="text", class="form-control", id="mrc", ng-model="mrc", placeholder="mrc")
                .form-group
                    label(for="modelo", class="col-lg-2 control-label") modelo
                    .col-lg-10
                        input(type="text", class="form-control", id="modelo", ng-model="modelo", placeholder="modelo")
                .form-group
                    label(for="anio", class="col-lg-2 control-label") anio
                    .col-lg-10
                        input(type="text", class="form-control", id="anio", ng-model="anio", placeholder="anio")
                .form-group
                    label(for="motor", class="col-lg-2 control-label") motor
                    .col-lg-10
                        input(type="text", class="form-control", id="motor", ng-model="motor", placeholder="motor")
                .form-group
                    label(for="combustible", class="col-lg-2 control-label") combustible
                    .col-lg-10
                        input(type="text", class="form-control", id="combustible", ng-model="combustible", placeholder="combustible")
                .form-group
                    label(for="km", class="col-lg-2 control-label") km
                    .col-lg-10
                        input(type="text", class="form-control", id="km", ng-model="km", placeholder="km")
                .form-group
                    label(for="color", class="col-lg-2 control-label") color
                    .col-lg-10
                        input(type="text", class="form-control", id="color", ng-model="color", placeholder="color")
                .form-group
                    label(for="volante", class="col-lg-2 control-label") volante
                    .col-lg-10
                        input(type="text", class="form-control", id="volante", ng-model="volante", placeholder="volante")
                .form-group
                    label(for="trans", class="col-lg-2 control-label") trans
                    .col-lg-10
                        input(type="text", class="form-control", id="trans", ng-model="trans", placeholder="trans")
                .form-group
                    label(for="cap", class="col-lg-2 control-label") cap
                    .col-lg-10
                        input(type="text", class="form-control", id="cap", ng-model="cap", placeholder="cap")
                .form-group
                    label(for="tdmotor", class="col-lg-2 control-label") tdmotor
                    .col-lg-10
                        input(type="text", class="form-control", id="tdmotor", ng-model="tdmotor", placeholder="tdmotor")
                .form-group
                    label(for="precio", class="col-lg-2 control-label") precio
                    .col-lg-10
                        input(type="text", class="form-control", id="precio", ng-model="precio", placeholder="precio")
                .form-group
                    label(for="condicion", class="col-lg-2 control-label") condicion
                    .col-lg-10
                        input(type="text", class="form-control", id="condicion", ng-model="condicion", placeholder="condicion")
                .form-group
                    label(for="airea", class="col-lg-2 control-label") airea
                    .col-lg-10
                        input(type="text", class="form-control", id="airea", ng-model="airea", placeholder="airea")
                .form-group
                    label(for="lunase", class="col-lg-2 control-label") lunase
                    .col-lg-10
                        input(type="text", class="form-control", id="lunase", ng-model="lunase", placeholder="lunase")
                .form-group
                    label(for="equipor", class="col-lg-2 control-label") equipor
                    .col-lg-10
                        input(type="text", class="form-control", id="equipor", ng-model="equipor", placeholder="equipor")
                .form-group
                    label(for="sonroof", class="col-lg-2 control-label") sonroof
                    .col-lg-10
                        input(type="text", class="form-control", id="sonroof", ng-model="sonroof", placeholder="sonroof")
                .form-group
                    label(for="asiento", class="col-lg-2 control-label") asiento
                    .col-lg-10
                        input(type="text", class="form-control", id="asiento", ng-model="asiento", placeholder="asiento")
                .form-group
                    label(for="baire", class="col-lg-2 control-label") baire
                    .col-lg-10
                        input(type="text", class="form-control", id="baire", ng-model="baire", placeholder="baire")
                .form-group
                    label(for="foto1", class="col-lg-2 control-label") foto1
                    .col-lg-10
                        input(type="text", class="form-control", id="foto1", ng-model="foto1", placeholder="foto1")
                .form-group
                    label(for="foto2", class="col-lg-2 control-label") foto2
                    .col-lg-10
                        input(type="text", class="form-control", id="foto2", ng-model="foto2", placeholder="foto2")
                .form-group
                    label(for="foto3", class="col-lg-2 control-label") foto3
                    .col-lg-10
                        input(type="text", class="form-control", id="foto3", ng-model="foto3", placeholder="foto3")
                .form-group
                    label(for="foto4", class="col-lg-2 control-label") foto4
                    .col-lg-10
                        input(type="text", class="form-control", id="foto4", ng-model="foto4", placeholder="foto4")
                .form-group
                    label(for="freg", class="col-lg-2 control-label") freg
                    .col-lg-10
                        input(type="text", class="form-control", id="freg", ng-model="freg", placeholder="freg")
                .form-group
                    label(for="obs", class="col-lg-2 control-label") obs
                    .col-lg-10
                        input(type="text", class="form-control", id="obs", ng-model="obs", placeholder="obs")
                .form-group
                    .col-lg-offset-2.col-lg-10
                        button(type="submit", class="btn btn-default", ng-click="addPerson()") Crear Anuncio