.container
    .row
        .jumbotron
            h1.text-center MundiCar
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem ad officiis nihil delectus quidem animi rerum, molestias sint natus ducimus quod, unde molestiae dolores laboriosam error facilis odio doloremque.</p>
            p
                a(href="#", class="btn btn-primary btn-lg", role="button") Leer mas

.container
    .row
        div(uib-carousel, active="active", interval="myInterval", no-wrap="noWrapSlides")
            div(uib-slide, ng-repeat="slide in slides track by slide.id", index="slide.id")
                img(ng-src="{{slide.image}}", style="margin:auto;")
                div(class="carousel-caption")
                    h4 Slide {{slide.id}}
                    p {{slide.text}}

.container
    .row
        .col-xs-12.col-sm-6.col-md-4(ng-repeat="publicacion in publicaciones")
            //h2 {{ publicacion.cod }}
            figure
                img(src="http://iglobehost.com/mundicar/oc-content/uploads/0/17_thumbnail.jpg")
            p {{ publicacion.mrc }} - {{ publicacion.modelo }}
            a(href="#", class="btn btn-success") Leer mas
            
.container
    .row.text-center
        ul.pagination.pagination-lg
            li.disabled
                a(href="#") <
            li.active
                a(href="#") 1
                    span(class="sr-only") (current)
            li
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#") 4
            li
                a(href="#") 5
            li
                a(href="#") >