.container
    .row
        .col-lg-12
            h1.page-header
                | Blog 
                small {{posts.title}}
            ol.breadcrumb
                li
                    a(ui-sref="posts") Articulos
                li.active {{posts.title}}  
    .row
        .col-lg-8
            hr
            p
                i.fa.fa-clock-o
                |  Posted {{posts.create}} by 
                a(href='#') Start Boostrap
            hr
            img.img-responsive(ng-src="{{posts.image}}")
            hr
            p.lead
                | Science cuts two ways, of course; its products can be used for both good and evil. But
                | there's no turning back from science. The early warnings about technological dangers also come from
                | science.
            {{posts.content}}
            p You know, being a test pilot isn't always the healthiest business in the world.
            p
                | Cookie jelly beans soufflé icing. Gummi bears tootsie roll powder chupa chups cheesecake chocolate
                | jelly-o lollipop lollipop. Halvah applicake chupa chups. Marshmallow chocolate jujubes icing lollipop
                | gummi bears chupa chups pudding bonbon. Jelly beans jelly soufflé jujubes. Sesame snaps lollipop icing
                | donut lemon drops soufflé.
            p
                | Donut caramels gingerbread. Sweet roll macaroon pastry cotton candy oat cake sesame snaps biscuit lemon
                | drops dessert. Candy canes carrot cake danish carrot cake soufflé jelly chocolate cake muffin. Topping
                | brownie donut. Oat cake marzipan dragée cheesecake. Donut chocolate cake jujubes tart dragée toffee.
            p
                | Tilefish electric knifefish salmon shark southern Dolly Varden. Pacific argentine tope golden shiner
                | ilisha barreleye loosejaw catla, dogteeth tetra catfish tenpounder nase scup Ragfish brotula." Codle
                | brook lamprey pleco, Japanese eel convict cichlid titan triggerfish, plownose chimaera topminnow Black
                | scalyfin. Walleye pollock, blue shark Sacramento blackfish prickleback airbreathing catfish yellowfin
                | cutthroat trout, goby southern sandfish. North Pacific daggertooth dorab cepalin weever flying
                | gurnard.
            p
                strong Placeholder text by:
            u
                li
                    a(href='http://spaceipsum.com/') Space Ipsum
                li
                    a(href='http://cupcakeipsum.com/') Cupcake Ipsum
                li
                    a(href='http://tunaipsum.com/') Tuna Ipsum
            hr
            .well
                h4 Leave a Comment:
                form(role='form')
                    .form-group
                        textarea.form-control(rows='3')
                    button.btn.btn-primary(type='submit') Submit
            hr
            h3
                | Start Bootstrap
                small 9:41 PM on August 24, 2013
            p
                | This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking
                | about space or something, then you randomly start babbling about cupcakes, and you end off with random
                | fish names.
            h3
                | Start Bootstrap
                small 9:47 PM on August 24, 2013
            p
                | Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals,
                | alien abductions, business casual, robots, and fireworks' has true potential.
        .col-lg-4
            .well
                h4 Blog Search
                .input-group
                    input.form-control(type='text')
                    span.input-group-btn
                        button.btn.btn-default(type='button')
                            i.fa.fa-search
            .well
                h4 Popular Blog Categories
                .row
                    .col-lg-6
                        ul.list-unstyled
                            li
                                a(href='#dinosaurs') Dinosaurs
                            li
                                a(href='#spaceships') Spaceships
                            li
                                a(href='#fried-foods') Fried Foods
                            li
                                a(href='#wild-animals') Wild Animals
                    .col-lg-6
                        ul.list-unstyled
                            li
                                a(href='#alien-abductions') Alien Abductions
                            li
                                a(href='#business-casual') Business Casual
                            li
                                a(href='#robots') Robots
                            li
                                a(href='#fireworks') Fireworks
            .well
                h4 Side Widget Well
                p
                    | Bootstrap's default well's work great for side widgets! What is a widget anyways...?